<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

    span.navbar-custom nav.navbar-custom {
        background-color: #00152b !important;
    }
    nav.navbar-custom .navbar-brand,
    nav.navbar-custom .nav-link,
    nav.navbar-custom .navbar-text {
        color: white !important;
    }
    nav.navbar-custom .navbar-toggler {
        border-color: white !important;
    }
</style>

<!-- Custom styles for this template -->
<!-- <link href="navbar-top-fixed.css" rel="stylesheet"> -->
<span class="navbar-custom"><nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-custom">
  <div class="container">
    <!-- <a class="navbar-brand" href="/">space_Veins</a> -->
    <a class="navbar-brand" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'" href="/about">space_Veins</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {{ range sort .Site.Sections.ByTitle }}
        <li class="nav-item">
          <a class="nav-link" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'" href="{{ .URL }}"> {{ .Title }} </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav></span>

