<!doctype html>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta name="description" content="Homepage of space_Veins"> -->
        <title>{{ .Title }} - space_Veins</title>
        <!-- bootstrap core css -->
        <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
        <!-- space_Veins icon -->
        <link rel="icon" href="/assets/icons/logo_space_Veins.svg">
    </head>
    <body style="padding-top: 56px;
  background: url(/assets/pictures/nasa-satellite-earth.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
        {{ partial "navbar" . }}
        <div class="container" style="padding:1px">
            <div class="p-1 mb-4 bg-light rounded-3">
               <div class="container-fluid py-5">
                    {{ partial "header" . }}
                    {{ partial "breadcrumbs" . }}
                    <hr>
                    {{ block "main" . }}

                    {{ end }}
                    <hr>
                </div>
            </div>
        </div>
        {{ partial "footer" . }}
        <script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
    </body>
</html>

